[Unit]
Description=Daily Grubtale Background Update
Documentation=https://github.com/lazypwny751/grubtale
Requires=grubtale.service

[Timer]
OnBootSec=2min
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
