[Unit]
Description=Daily Grubtale Background Update
Requires=grubtale.service

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
